<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCNScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51C2D77F1CBFB04D00C4E099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51C2D79B1CBFB04E00C4E099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51C2D7A61CBFB04E00C4E099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
